[submodule "Microservice.Account"]
	path = Microservice.Account
	url = https://github.com/hercules08/cardcraft-api-account-microservice
[submodule "Microservice.Product"]
	path = Microservice.Product
	url = https://github.com/hercules08/cardcraft-api-product-microservice
[submodule "Microservice.Payment"]
	path = Microservice.Payment
	url = https://github.com/hercules08/cardcraft-api-payment-microservice
[submodule "Microservice.Messaging"]
	path = Microservice.Messaging
	url = ./Microservice.Messaging/
