[submodule "Microservice.Account"]
	path = Microservice.Account
	url = https://github.com/hercules08/cardcraft-api-microservice-account
[submodule "Microservice.Product"]
	path = Microservice.Product
	url = https://github.com/hercules08/cardcraft-api-microservice-product
[submodule "Microservice.Payment"]
	path = Microservice.Payment
	url = https://github.com/hercules08/cardcraft-api-microservice-payment
